{% extends "base.html" %}
{%block title%}Cart List{%endblock%}
{%block content%}

<h1 align = 'center'> CART LIST </h1><br><br>
<table class='table table-striped table-hover' id = 'cartitems' name = 'cartitems'>
    <thead class = 'thead-dark' align = 'center'>
        <tr>
            <th scope = 'col'>Product Name</th>
            <th scope = 'col'>Product Price</th>
            <th scope = 'col'>Category</th>
            <th scope = 'col'>Quantity</th>
            <th scope='col'>Total Price</th>
            <th scope = 'col'>Action</th>
        </tr>
    </thead>
<tbody >
{%for cartitem in cartitems %}
<tr align = 'center'>
    <td scope = 'row'>{{ cartitem.product.productName }}</td>
    <td>₹ {{ cartitem.product.productPrice }}/unit</td>
    <td>{{ cartitem.product.category }}</td>
    <td>{{ cartitem.quantity }}</td>
    <td>₹ {{ cartitem.total_price }}</td>
    <td><a href='{{ url_for('views.edit_quantity', cartitem_id=cartitem.id) }}' class="btn btn-warning">Edit</a>
        <a href = "{{url_for('views.remove_from_cart', cartitem_id = cartitem.id)}}" class = 'btn btn-danger'>Remove</a></td>
    
</tr>
</tbody>

{%endfor%}
</tbody>
</table>
<h3 align = 'right'>Total Price: ₹ {{ total_price }}</h3><br><br>
<a href='{{ url_for('views.checkout') }}' class="btn btn-primary float float-right" style = 'margin-right: 30px'>Proceed to Checkout</a>

{%endblock%}