{% extends "base.html" %}
{% block title %}Vegetables{% endblock %}
    {% block content %}
        <h1 align = "center">SHOP Vegetables FROM ORGANICO</h1>
        <br>
        <br>
        <ul class = 'list-group list-group-flush' id = 'vegetablelist'>
            {% for vegetable in vegetables %}
                <li class = 'list-group-item' id='flower'>
                    {{ vegetable.productName }} -- ₹ {{ vegetable.productPrice }}
                    <button onclick="addToCart('{{ vegetable.id }}')"
                            style='margin-left: 20px'
                            class='btn btn-primary float-right'>Add to Cart</button>
                    <input type="number"
                           name='quantity'
                           id="quantity-{{ vegetable.id }}"
                           value="1"
                           min="1"
                           max="{{ vegetable.stock }}"
                           class='form-group float-right'>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}
